/* fonts */


:root {
    --button-light-color: orange;
    --button-dark-color: hsl(33, 100%, 50%);
    --yellow-light: #ffeb3b;
    --yellow-dark: #ffc107;
    --text-dark: #333;
    --bg-dark-bookcard: #000220;
    --background-light: #f9f9f9;
    --text-light: #fff;
    --font-family: 'Roboto', sans-serif;
}

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}