section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: var(--background-color);
    width: 100%;
}

.container-book-categories {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}


.book-category {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 5px 10px;
    font-size: 0.6rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    cursor: pointer;
}

.dark-mode .book-category {
    border: 1px solid white;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    color: #fff;
}

.book-category:hover {
    transform: scale(1.05);
    color: white;
    background-color: var(--button-light-color);
}

.book-category.active {
    background-color: var(--button-light-color);
    /* Couleur lorsque la catégorie est active */
    color: white;
    /* Couleur du texte pour contraster */
}

.book-list.hidden {
    display: block;
    /* Les livres deviennent visibles quand 'hidden' est retiré */
}

.section-title {
    margin-bottom: 20px;
    text-align: center;

}

@media screen and (min-width: 768px) {
    .book-category {
        margin: 10px;
        padding: 10px 15px;
        font-size: 1rem;
    }

    .section {
        width: 80%;
    }
}

.hidden {
    display: none;
}