.container-books-liked {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    flex-wrap: wrap;
    gap: 5px;
}

.book-title {
    font-size: 1rem;
    font-weight: 700;
    color: #000000;
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
    color: #000000;
    cursor: pointer;
}

.book-card {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(130, 130, 130, 0.75);
    padding: 1rem 0.5rem;
    position: relative;
}


.container-img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.container-img img {
    object-fit: contain;
    border-radius: 5px;
    width: auto;
    max-width: 70%;
    height: 200px;
    box-shadow: 0px 0px 5px 0px rgba(130, 130, 130, 0.75);
}

.container-book-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 100%;
    color: var(--bg-dark-bookcard);
    margin-bottom: 5px;
}

.author-title,
.author-name {
    color: var(--bg-dark-bookcard);
    font-size: 0.8rem;
}

.author-title {
    font-weight: 400;
    color: #727272;
}

.author-name {
    font-weight: 700;
    color: var(--bg-dark-bookcard);
}

.book-card__heart {
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    cursor: pointer;
    z-index: 10;
}

.book-card__heart svg {
    width: 20px;
    color: red;
    fill: red;
}

.rating-container {
    display: flex;
    align-items: baseline;
    gap: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.rating-title {
    margin-bottom: 0px;
    font-size: 0.5rem;
    font-weight: 400;
    color: #727272;
}

.star-icon {
    margin-bottom: 0px;
    font-size: 0.75rem;
    color: var(--button-light-color);
}

.container-author-name {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    gap: 5px;
}

.dark-mode .book-card {
    background-color: var(--bg-dark-bookcard);
    color: #fff;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    border: 1px solid;
}

.dark-mode .author-name,
.dark-mode .author-title,
.dark-mode .rating-title,
.dark-mode .book-title {
    color: #fff;
}

@media screen and (min-width: 768px) {
    .book-card {
        width: 200px;
    }
}