
.container-404 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
    cursor: pointer;
}

.container-404 h2 {
    margin: 1rem;
}

.giphy-embed {
    width: 50%;
    margin-top: 2rem;
}