/* Conteneur principal */
.book-page {
  padding: 20px;
  max-width: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.container-the-book {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  flex-wrap: wrap;
  position: relative;
}


.container-book-info {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  margin-bottom: 10px;
  width: 70%;
  position: relative;
}
.container-img-bookPage {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 30%;
  position: relative;
}


.book-page h1 {
  font-size: 1.2rem;
  text-align: left;
}

.container-the-book h2 {
  font-size: 1.2rem;
  margin-top: 50px;
  margin-bottom: 0;
}
  

.book-img {
  width: 65%;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 5px 0px rgba(130, 130, 130, 0.75);
}

.book-card__heart_icon {
  position: absolute;
  top: 2px;
  left: 34px;
  cursor: pointer;
  z-index: 10;
}

.book-card__heart_icon svg {
  width: 20px;
  color: red;
  fill: red;
}

.book-card__heart_icon path {
  stroke: white;
  stroke-width: 1px;
}
  
  
.book-page .paragraph-info-book {
  font-size: 1rem;
  text-align: left;
  margin: 0px;
  color: #4b4b4b;
}

.container-resume {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.resume {
  font-size: 1rem;
  text-align: justify;
}

/* Button */
.book-card-button {
  padding: 5px 15px;
  background-color: orange;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: 800;
}

.book-card-button:hover {
    background-color: hsl(33, 100%, 50%);
}