.mybooks-title {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  margin-top: 1.5rem;
}

.mybooks-empty {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 20px;
}