.book-card-button {
    display: flex;
    justify-content: space-between;
    padding: 5px 15px;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: 800;
    cursor: pointer;
}

.book-card-button:hover {
    background-color: hsl(33, 100%, 50%);
}

.book-card-button-already-liked {
    padding: 5px 15px;
    background-color: white;
    color: gray;
    border: none;
}